* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img {
    width: 200px;  
}
input[type='button']{
    padding: 10px 20px;

    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.171);
}
